<div class="user-control pull-right">
  <%# link_to t("actions.set-delegate"), "/bad" %>
  <%= image_tag employee.has_photo? ? employee_photo_path(employee.id) : "person.png", class: 'user-photo' %>
  <div class="user-info" data-value="<%= employee.id %>" data-controller-id="<%= user.controller_id %>"
  data-controller-name="<%= user.controller.try(:display_name) %>">
    <div class="user-name" data-value="<%= employee.display_name %>">
      <%= [employee.last_name, employee.first_name, employee.middle_name].join(" ") %>
    </div>
    <div class="user-position"><%= employee.position.try(:name) %></div>
    <div class="user-actions">
      <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
      <!-- <a class="user-change-password" href="#">Сменить пароль</a> -->
    </div>
  </div>
</div>