<script type="text/javascript">

  function setMargins() {
      width = 780;
      containerWidth = $(".container").width();
      if (containerWidth > 0) {
        leftMargin = (containerWidth - width)/2;
      } else {
        leftMargin = 0;
      }
      $(".task_info_group").css("marginLeft", leftMargin);
  }

  $(document).ready(function() {
    $('.task_info__item').on('click', function(e) {
      var item = $(this),
          dataItem = item.children('div').first();
      if (item.parents().hasClass('aside_startview')) {
        $('.task_info_group').removeClass('aside_startview');
        $('.task_info_group').addClass('aside_listview');
        $('.task_info__item').find('.icon').hide();
        $('.js--nav').removeClass("nav__start_view").addClass('nav__list_view');
        $('.js--task_info__m_ms').fadeOut();
        $('.js--nav__m_ms').fadeIn();
        $(".task_info_group").css({"marginLeft": 0, "float": "left"});
      }

      $(".task_info__item").removeClass("active");
      item.addClass("active");
      $('.data-area')
        .animate({ opacity:1 }, 400, 'easeInCirc');

      if (item.parents().hasClass('aside_startview')) {
        timeout = setTimeout(function() {
          switch_to_list(dataItem.data("folder"));
          $('.data-area').css({ "z-index": "0" });
          $('section').fadeIn();
        }, 600);
      } else {
          switch_to_list(dataItem.data("folder"));
          $('.data-area').css({ "z-index": "0" });
          $('section').fadeIn();
      }
    });

    $(".logo-bar").on('click', function() {
      $('aside').addClass('aside_startview');
      $('.js--nav').removeClass("nav__list_view").addClass('nav__start_view');
      $('.task_info_group').removeClass('aside_listview');
      setMargins();
      $('section').hide();
      $('.task_info__item').find('.icon').fadeIn();
      $(".task_info__item").removeClass("active");
      $('.js--task_info__m_ms').fadeIn();
      $('.js--nav__m_ms').fadeOut();
    });

    setMargins();
    $(window).resize(function() {
      if($('.task_info_group').hasClass('aside_startview')) {
        setMargins();
      }
    });
  });
</script>
<nav class="navbar nav__start_view js--nav top_shift--20px">
  <div class="container">
    <div class="logo-bar">
  	  <img src="/assets/logo.jpg"/>
    </div>
    <div class="header-bar">
      <%# render 'task_info/task_summary', task_info: @task_info %>
      <div class="header-actions pull-left">
        <ul class="pull-left">
          <li class="btn"><%= link_to t("actions.refresh"), "/", { :class => 'nav__buttons task-info-refresh ' } %></li>
          <li class="btn"><%= link_to t("actions.new-task"), new_task_path(), { target: '_blank',:class => 'nav__buttons create-task-link' }  %></li>
          <li class="btn" style="white-space: normal"><%= link_to t("actions.new-long-task"), new_task_path(), { target: '_blank', class: 'nav__buttons window-link' }  %></li>
          <li class="btn"><%= link_to t("actions.phones"), "http://01srvnsi.gz.local/GZPhoneBook/sait/страница1.html", { target: '_blank', class: 'nav__buttons' }  %></li>
        </ul>
        <ul class="js--nav__m_ms list-inline pull-left" style="padding-top: 7px; padding-left: 50px;display: none">
          <li class="m_ms__item--red">11</li>
          <li class="m_ms__item--orange">16</li>
          <li class="m_ms__item--green">3</li>
        </ul>
      </div>

      <%= render 'user_control', employee: @employee %>
    </div>
  </div>
</nav>
<main class="container">
  <%= render 'static_pages/test_task_info', task_info: @task_info %>
  <script id="task-template" type="text/x-jsrender">
    <div class="task-area" data-task-id="{{>task_id}}" data-id="{{>id}}" data-new="{{>is_new}}">
      <div class="task-main-area">
        <div class="task-border">
          <div class="task-data-area">
            <div class="task-header-area">
              <table class="task-area-header">
                <tr>
                  <td class="table_td--autowidth">
                    {{if author_id }}
                      <img width="70" height="70" style="background-image: url(/employees/{{>author_id}}/photo);"></img>
                    {{else}}
                      <img width="70" height="70"></img>
                    {{/if}}
                  </td>
                  <td class="task-author-area">
                    <div class="header"><%=t "task.author" %>:</div>
                    <div class="task-author-name"><span>{{>author_name}}</span>,<span class="task-author-position">{{>author_position}}</span></div>
                  </td>
                  {{if deadline }}
                  <td class="task-view-deadline-area">
                    <div class="header"><%=t "task.deadline" %>:</div>
                    <div>
                      <span class="task-deadline-time" data-value="{{>deadline_time}}">{{>deadline_time_till}}</span>
                      <span class="task-deadline-date" data-value="{{>deadline_date}}">{{>deadline_date}}</span>
                    </div>
                  </td>
                  {{/if}}
                </tr>
              </table>
            </div>
            <div class="task-content-area">
              <div class="task-content" data-value="{{>content}}">{{:html_content}}</div>
              {{if controler_name }}
                <div class="task-controler-area">
                  <div class="header"><%=t "task.controller" %></div>
                  <div class="task-controler-name">{{>controler_name}}</div>
                  {{if controler_position }}
                    <div class="task-controler-position">{{>controler_position}}</div>
                  {{/if}}
                </div>
              {{/if}}
              {{if delegated_to }}
                <div class="task-delegated-area">
                  <div class="header">Распределено:&nbsp;</div>
                  <div class="task-delegated">{{>delegated_to}}</div>
                </div>
              {{/if}}
              {{if parent_document }}
                <div class="task-document-area">
                  <div class="header"><%=t "task.document" %></div>
                  <div class="task-document" data-id="{{>parent_document_id}}" data-name="{{>parent_document}}">{{>parent_document}}</div>
                </div>
              {{/if}}
              <div class="task-files-area">
                {{for files}}
                  <a href="/file/{{>file_id}}" target="_blank" class="task-file-ref" data-value="{{>file_id}}" data-name="{{>filename}}">{{>filename}}</a>
                {{/for}}
                <div class="breaker"></div>
              </div>
              {{if assignment_id }}
              <div class="task-history-area" data-id="{{>assignment_id}}">
              </div>
              {{/if}}
            </div>
            <div class="task-footer-area">
              <div class="task-complete-area">
                <input class="task-add-file-input" type="file"/>
                <div class="task-comments-row">
                  <div class="task-add-file-wrapper">
                    <a href="#" class="task-add-file"><%=t "task.add_file" %></a>
                  </div>
                  <div class="task-comments-text">
                    <div class="task-comments-scroll">
                      <div class="textarea-container">
                        <textarea id="{{>id}}_content" placeholder="<%=t 'task.comments_placeholder' %>"></textarea>
                        <div id="{{>id}}_content-copy" class="text-area-copy"></div>
                      </div>
                      <div class="task-files-container">
                        <div class="task-files"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="task-actions-area">
                <div class="task-actions">
                  <div class="task-action-wrapper">
                    {{* if (data.actions.any(function (action) { return action.action == 'comment'; })) { }}
                      <a class="task-action-comment" href="#">Комментировать</a>
                    {{* } }}
                  </div>
                  <div class="task-action-delegate-wrapper">
                    {{* if (data.actions.any(function (action) { return action.action == 'redirect'; })) { }}
                      <a class="task-action-delegate" href="#">Распределить</a>
                    {{* } }}
                  </div>
                  {{for actions}}
                    {{if action != 'redirect' && action != 'comment' }}
                      <div class="task-action-wrapper">
                        <a class="task-action-{{>action}}" href="#" data-action="{{>action}}" data-comments-required="{{>comments_required}}">{{>text}}
                          {{if actions }}
                            <ul class="task-action-sub-actions">
                              {{for actions}}
                                <li data-text="{{>text}}" data-action="{{>action}}" data-comments-required="{{>comments_required}}"></li>
                              {{/for}}}
                            </ul>
                          {{/if}}
                        </a>
                      </div>
                    {{/if}}
                  {{/for}}
                </div>
                <div class="breaker"></div>
                <div class="task-actions-apply">
                <div class="task-actions-ok"></div>
                  <a class="task-action-cancel" href="#">Отмена</a>
                </div>
                <div class="breaker"></div>
              </div>
            </div>
          </div>
          <div class="task-action-lid">
            <div class="task-action-cell">
              <div class="task-action-box">
                <div class="task-action-message">
                  Отправка поручения
                </div>
                <div class="task-action-error">
                  Здесь идет текст ошибки в случае неудачной отправки. Он может быть достаточно длинным и даже в несколько строк. Пишем и пишем и пишем долго и много
                </div>
                <%= image_tag 'ajax-loader.gif', class: 'task-action-progress' %>
                <a class="task-action-error-close" href="#">Закрыть</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="task-overflow-area"></div>
    </div>
  </script>
  <script id="task-history-template" type="text/x-jsrender">
    <div class="title">
      <%=t 'task.history.title' %>
    </div>
    {{for cycles}}
      <div class="task-history-cycle">
        <div class="title">
          <%=t 'task.history.cycle' %> {{>index}}
        </div>
        {{for items}}
          <div class="task-history-item">
            <div class="author-row">
              <div class="author">{{>author}}</div>
              {{if decision}} 
                <div class="decision">{{>decision}}</div>
              {{/if}}
              <div class="date">{{>date}}</div>
            </div>
            {{if comment}}
              <div class="comment">
                <div class="title"><%=t 'task.history.comment' %></div>
                {{>comment}}
              </div>
            {{/if}}
            {{if files.length}}
              <div class="history-files">
                <div class="title"><%=t 'task.history.files' %></div>
                {{for files}}
                  <a href="/file/{{>file_id}}" target="_blank" class="task-file-ref" data-value="{{>file_id}}" data-name="{{>filename}}">{{>filename}}</a>
                {{/for}}
              </div>
            {{/if}}
          </div>
        {{/for}}
      </div>
    {{/for}}
  </script>
  </script>
  <section class="data-area">
    <div id="task-shadow"></div>
    <div class="fullheight" id="task-list"></div>
  </section>
  </main>
  <div class="create-task-area">
    <div>
      <%= render 'tasks/task_form', employee: @employee, quick_performers: @quick_performers %>
    </div>
  </div>
</div>
