<script type="text/javascript">

  function setMargins() {
      width = 780;
      containerWidth = $(".container").width();
      leftMargin = (containerWidth - width)/2;
      console.log(leftMargin, containerWidth, width)
      $(".task_info_group").css("marginLeft", leftMargin);
  }

  $(document).ready(function() {
    $('.task_info__item').on('click', function(e) {
      var item = $(this),
          dataItem = item.children('div').first();
      console.log(dataItem);
      if (item.parents().hasClass('aside_startview')) {
        $('.task_info_group').removeClass('aside_startview');
        $(".task_info_group").css({"marginLeft": 0, "float": "left"});
      }
      timeout = setTimeout(function() {
        switch_to_list(dataItem.data("folder"));
        $('section').fadeIn(1000);
      }, 600);
    });

    $("nav").on('click', function() {
      $('aside').addClass('aside_startview');
      setMargins();
      $('section').fadeOut();
    });

    setMargins();
    $(window).resize(function() {
      if($('.task_info_group').hasClass('aside_startview')) {
        setMargins();
      }
    });

  });
</script>
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="logo-bar">
  	  <img src="/assets/logo.jpg"/>
    </div>
    <div class="header-bar">
      <%= render 'user_control', user: @user %>
      <%# render 'task_info/task_summary', task_info: @task_info %>
      <div class="header-actions">
        <ul>
          <li><%= link_to t("actions.refresh"), "/", { :class => 'task-info-refresh' } %></li>
          <li><%= link_to t("actions.new-task"), new_task_path(), { target: '_blank',:class => 'create-task-link' }  %></li>
          <li><%= link_to t("actions.new-long-task"), new_task_path(), { target: '_blank', class: 'window-link' }  %></li>
          <li><%= link_to t("actions.phones"), "http://01srvnsi.gz.local/GZPhoneBook/sait/страница1.html", { target: '_blank' }  %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<main class="container">
<%= render 'static_pages/test_task_info', task_info: @task_info %>
  <script id="task-template" type="text/x-jsrender">
    <div class="task-area" data-task-id="{{>task_id}}" data-id="{{>id}}">
      <div class="task-area-header">
        <div class="task-subject-area">
          <div class="task-subject">
            <div>{{>subject}}</div>
          </div>
          <div class="task-date">{{>date}}</div>
        </div>
        <div class="task-author-area">
          <div class="header"><%=t "task.author" %></div>
          <div class="task-author-name">{{>author_name}}</div>
          <div class="task-author-position">{{>author_position}}</div>
        </div>
        {{if deadline }}
        <div class="task-deadline-area">
          <div class="header"><%=t "task.deadline" %></div>
          <div class="task-deadline-date" data-value="{{>deadline_date}}">{{>deadline_date}}</div>
          <div class="task-deadline-time" data-value="{{>deadline_time}}">{{>deadline_time_till}}</div>
        </div>
        {{/if}}
      </div>
      <div class="task-content" data-value="{{>content}}">{{:html_content}}</div>
      {{if controler_name }}
        <div class="task-controler-area">
          <div class="header"><%=t "task.controller" %></div>
          <div class="task-controler-name">{{>controler_name}}</div>
          {{if controler_position }}
            <div class="task-controler-position">{{>controler_position}}</div>
          {{/if}}
        </div>
      {{/if}}
      {{if parent_document }}
        <div class="task-document-area">
          <div class="header"><%=t "task.document" %></div>
          <div class="task-document" data-id="{{>parent_document_id}}" data-name="{{>parent_document}}">{{>parent_document}}</div>
        </div>
      {{/if}}
      <div class="task-files-area">
      {{for files }}
        <a href="/file/{{>file_id}}" target="_blank" class="task-file-ref" data-value="{{>file_id}}" data-name="{{>filename}}">{{>filename}}</a>
      {{/for}}
	<div class="breaker"></div>
      </div>
      <div class="task-actions-area">
	{{if delegated_to }}
	<div class="task-delegated-area">
		<div class="header">Распределено:&nbsp;</div>
		<div class="task-delegated">{{>delegated_to}}</div>
	</div>
	{{/if}}
	<div class="task-actions">
	  <a class="task-action-delegate" href="#">Распределить</a>
	  <a class="task-action-complete" href="#">Завершить</a>
	  <div class="breaker"></div>
	</div>
	<div class="breaker"></div>
      </div>
    </div>
  </script>
  <section class="data-area">
    <div id="task-shadow">
    </div>
    <div id="task-list">
    </div>
  </section>
  </main>
  <div class="create-task-area">
    <%= render 'tasks/task_form', user: @user, quick_performers: @quick_performers %>
  </div>
</div>
