<div class="app-area">
  <div class="header-bar">
    <%= render 'user_control', user: @user %>
    <!-- <%= render 'task_info/task_summary', task_info: @task_info %> -->
    <div class="header-actions">
      <ul>
        <li><%= image_tag('grid.png', { :class => 'task-info-grid' }) %></li>
        <li><%= link_to t("actions.refresh"), "/", { :class => 'task-info-refresh' } %></li>
        <li><%= link_to t("actions.new-task"), new_task_path(), { target: '_blank',:class => 'window-link' }  %></li>
        <li><%= link_to t("actions.new-long-task"), "/bad", { class: 'window-link', target: '_blank' }  %></li>
        <li><%= link_to t("actions.phones"), "/bad", { target: '_blank' }  %></li>
      </ul>
    </div>
  </div>
  <%= render 'task_info/task_info', task_info: @task_info %>
  <script id="task-template" type="text/x-jsrender">
      <div>
          {{:#index+1}}: <b>{{>content}}</b> ({{>subject}})
      </div>
  </script>
  <div class="data-area">
    <div id="task-shadow">
    </div>
    <div id="task-list">
    </div>
  </div>
</div>
