<div class="create-task">
  <form id="data-form">
    <%= render '/tasks/menu', items:
      [ save: { action: tasks_path, method: :post } ] 
    %>
    <div id="task-main">
      <div id="Task-parent_task"></div>
      <div id="Task-parent_document"></div>
      <div class="task-header-bar">
        <div class="task-author-control">
          <%# link_to t("actions.set-delegate"), "/bad" %>
          <div class="task-author-info" data-value="<%= employee.id %>">
            <div class="task-author-name" data-value="<%= employee.display_name %>">
              Автор: <%= employee.last_name %>
              <span class="task-author-first-name"><%= [employee.first_name, employee.middle_name].join(" ") %>
            </div>
            <div class="task-author-position"><%= employee.position.try(:name) %></div>
          </div>
          <%= image_tag employee.has_photo? ? employee_photo_path(employee.id) : "person.png", class: 'user-photo' %>
        </div>
        <div class="header-actions">
          <div class="title">Новое поручение</div>
        </div>
      </div>
      <ul class="performer-quick-list">
        <% quick_performers.each do |performer| %>
          <li>
            <%= render '/tasks/quick_performer', performer: performer %>
          </li>
        <% end %>
      </ul>
      <div class="task-data-container">
        <div class="task-data-table">
          <div class="performer-row">
            <div class="performer-row-border">
              <table class="performer-table">
                <tr class="performer-table-first-row">
                  <td class="performer-name-column">
                    <%=t "task.performers" %>:
                  </td>
                  <td class="performer-value-column">
                    <%= row(employees_select(@task, :Task, :performer, t('task.performers_placeholder'))) %>
                  </td>
                  <td class="performer-selectors-column">
                    <div class="actor-selectors">
                      <a class="actor-selector co_performers" data-name="co_performers"><%=t "task.co_performers" %></a>
                      <a class="actor-selector controller" data-name="controller"><%=t "task.controller" %></a>
                      <a class="actor-selector informants" data-name="informants"><%=t "task.informants" %></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="performer-name-column">
                    <%=t "task.co_performers" %>:
                  </td>
                  <td class="performer-value-column" colspan=2>
                    <input class="co_performers-selector" type="checkbox"/>
                    <%= row(employees_select(@task, :Task, :co_performers), class: 'co_performers-row') %>
                  </td>
                </tr>
                <tr>
                  <td class="performer-name-column">
                    <%=t "task.controller" %>:
                  </td>
                  <td class="performer-value-column" colspan=2>
                    <input class="controller-selector" type="checkbox"/>
                    <%= row(employee_select(@task, :Task, :controller), class: 'controller-row' ) %>
                  </td>
                </tr>
                <tr>
                  <td class="performer-name-column">
                    <%=t "task.informants" %>:
                  </td>
                  <td class="performer-value-column" colspan=2>
                    <input class="informants-selector" type="checkbox"/>
                    <%= row(employees_select(@task, :Task, :informants), class: 'informants-row' ) %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="task-content-row">
            <div class="task-content-row-scroll">
              <%= row(text_edit(@task, :Task, :content), class: 'task-content') %>
              <div class="task-files-container">
                <div class="task-files">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="task-action-area">
        <div class="task-actions">
          <div class="task-action task-action-send">
            <a href="#" class="task-send"><%=t "task.send" %></a>
          </div>
          <input class="task-add-file-input" type="file"/>
          <div class="task-action task-action-add-file">
            <a href="#" class="task-add-file"><%=t "task.add_file" %></a>
          </div>
          <div class="task-action task-action-cancel">
            <a href="#" class="task-cancel"><%=t "task.cancel" %></a>
          </div>
        </div>
      </div>
      <div class="task-deadline-area">
        <%= row(datetime_2month_edit(@task, :Task, :deadline), class: 'task-deadline') %>
      </div>
    </div>
  </form>
  <div class="task-sending-lid">
    <div class="task-sending-cell">
      <div class="task-sending-box">
        <div class="task-sending-message">
          Отправка поручения
        </div>
        <div class="task-sending-error">
          Здесь идет текст ошибки в случае неудачной отправки. Он может быть достаточно длинным и даже в несколько строк. Пишем и пишем и пишем долго и много
        </div>
        <%= image_tag 'ajax-loader.gif', class: 'task-sending-progress' %>
        <a class="task-sending-close" href="#">Закрыть</a>
      </div>
    </div>
  </div>
</div>