<div class="form-window">
  <form id="data-form">
    <%= render 'menu', items:
      [ save: { action: tasks_path, method: :post } ] 
    %>
    <div id="task-tabs">
      <ul>
        <li><a href="#task-main">Поручение</a></li>
      </ul>
      <div id="task-main">
        <div class="row">
          <div class="task-date">
            <%= @task.date.strftime('%d.%m.%Y %H:%M.') %>
          </div>
          <div class="task-registrator-title">
            &nbsp;<%=t "task.registrator" %>:&nbsp;
          </div>
          <div class="task-registrator">
            <%= @task.registrator %>
          </div>
        </div>
        <%= row("task.performer", 
          employee_select(@task, :performer)) %>
        <%= row("task.co_performers", 
          employees_select(@task, :co_performers)) %>
        <%= row("task.informants", 
          employees_select(@task, :informants)) %>
        <%= row("task.content", 
          text_edit(@task, :content)) %>
        <%= row("task.author",
          employee_select(@task, :author)) %>
        <%= row("task.deadline",
          datetime_edit(@task, :deadline)) %>
        <%= row("task.controller",
          employee_select(@task, :controller)) %>
      </div>
    </div>
  </form>
</div>
