<div class="admin-header">
  <div class="title"><%=t 'admin.title' %></div>
  <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
</div>
<div class="admin-user-block">
  <div class="title"><%=t 'admin.users.title' %></div>
  <div class="admin-user-list">
    <% @users.each do |user| %>
      <div class="admin-user" data-id="<%= user.id %>">
        <div class="name"><%= user.display_name %></div>
        <div class="position"><%= user.position.try(:name) %></div>
        <div class="account_name"><%= user.account_name %></div>
        <%= link_to t('admin.users.remove'), admin_remove_user_path(user_id: user.id), class: 'admin-user-remove', method: :delete, confirm: 'Вы уверены что хотите удалить пользователя?' %>
      </div>
    <% end %>
  </div>
  <div class="admin-user-new">
    <div class="title"><%=t 'admin.add_user.title' %></div>
    <form action="<%= admin_add_user_path %>" method="post">
      <div class="fields">
        <div class="field">
          <div class="title"><%=t 'admin.add_user.name' %></div>
          <div class="value">
            <input 
              type="text"
              class="edit-lookup-multi" 
              name="employee_id"
              value=""
              spellcheck="false" 
              placeholder="Выберите сотрудника" 
              data-id=""
              data-text=""
              data-lookup="/employees/find"
              data-lookup-term="filter"
              data-lookup-single="true">
            </input>
          </div>
        </div>
        <div class="field">
          <div class="title"><%=t 'admin.add_user.password' %></div>
          <div class="value"><input type="password" class="password" name="password"></input></div>
        </div>
      </div>
      <input type="submit" class="submit" value="<%=t 'admin.add_user.submit' %>"></input>
    </form>
  </div>
</div>
<div class="admin-user-details-block">
  <div class="admin-password-block">
    <div class="title"><%=t 'admin.user.change_password_title' %></div>
    <div class="admin-change-user-password">
      <div class="password">
        <input type="password"></input>
      </div>
      <div class="action">
        <a href="#" class="submit"><%=t 'admin.user.change_password' %></a>
      </div>
    </div>
    <div class="message">Пароль изменен</div>
  </div>
  <div class="admin-refresh-block">
    <div class="title"><%=t 'admin.user.refresh_title' %></div>
    <div class="count">0</div>
    <div class="action">
      <a href="#" class="submit"><%=t 'admin.user.refresh' %></a>
    </div>
    <div class="message"></div>
  </div>
  <div class="admin-quick-performers-block">
    <div class="title"><%=t 'admin.quick_performers.title' %></div>
    <div class="admin-add-quick-performer">
      <div class="employee">
        <input 
          type="text"
          class="edit-lookup-multi" 
          name="employee_id"
          value=""
          spellcheck="false" 
          placeholder="Выберите сотрудника" 
          data-id=""
          data-text=""
          data-lookup="/employees/find"
          data-lookup-term="filter">
        </input>
      </div>
      <div class="action">
        <a href="#" class="add"><%=t 'admin.quick_performers.add' %></a>
      </div>
    </div>
    <div class="admin-quick-performers-list">
    </div>
  </div>
</div>
